
@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/css/main.css" rel="stylesheet" />
<div id="PageInfo">
    <h2>Giới thiệu về LMAO</h2>

    <p>
        <i>1./ LMAO đang dần trở thành một cái tên quen thuộc với tất cả các bạn trẻ</i>

        <br />Có mặt trên thị trường hơn 10 năm và đang ngày càng khẳng định vị thế trong lòng khách hàng, LMAO với những sản phẩm độc quyền mang thương hiệu riêng, sự đang dạng về mẫu mã, kiểu dáng, chất liệu, tính năng … sẽ mang lại nhiều sự lựa chọn cho khách hàng. LMAO luôn không ngừng đổi mới và phát triển, trở thành người bạn đồng hành thân thiết mang lại cho bạn sự thoải mái, tự tin khi sử dụng, và là sự lựa chọn hoàn hảo phong cách thời trang của bạn.
    </p>

    <p>
        <i>
            2./ Sản phẩm nằm trong phân khúc giá HSSV với nhiều ưu đãi hấp dẫn phù hợp với túi tiền của tất cả khách hàng
        </i>
        <br />Với lợi thế sản xuất trực tiếp, ngoài việc chủ động trong việc thiết kế mẫu mã, kiểm soát tốt chất lượng thì giá thành sản phẩm rẻ nhất so với chất lượng mang lại là cầu nối để khách hàng tiếp cận, trải nghiệm, mua sắm, và trở thành khách hàng thân thiết của LMAO.
    </p>

    <p>
        <i>
            3./ Kênh phân phối rộng khắp
        </i>
        <br />Với hơn 82 cửa hàng trải dài rộng khắp hơn 28 tỉnh thành trên toàn quốc cùng với các nền tảng mua sắm online hoàn thiện trên facebook, web, app, TMĐT (Shopee, Tiki, Lazada, Sendo) sẽ đáp ứng nhu cầu mua sắm mọi lúc mọi nơi sẽ mang lại cho khách hàng những trải nghiệm mua sắm tuyệt vời nhất.
    </p>

    <p>
        <i>
            4./ Sự hài lòng của các bạn chính là mục tiêu phấn đấu của chúng tôi.
        </i>
        <br />Chất lượng sản phẩm được khẳng định với chính sách bảo hành keo vĩnh viễn cùng với các chính sách hậu mãi, CSKH tận tâm sẽ mang lại sự hài lòng cho khách hàng khi đến với LMAO.
    </p>

</div>

