
@{
    ViewBag.Title = "WebCopyright";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="PageInfo">
    <h2>Bản quyền</h2>

    <p>
        <i>Tất cả hình ảnh, thông tin sản phẩm trong trang Web này đều không thuộc về nhóm chúng em.</i>

        <br />Dự án Website này chúng em chỉ sử dụng cho mục đích học tập, không sử dụng cho mục đích thương mại.
        <br />Link tới Github của dự án Website bán giày này: <a href="https://github.com/AnhTus91/LTW-Nhom9">Tại đây.</a>
    </p>

</div>

