
/*************************
*******Typography******
**************************/
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,400italic,500,700,100);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,800,300,600,700);
@import url(http://fonts.googleapis.com/css?family=Abel);

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f3f2ec;
    position: relative;
    font-weight: 400;
}

ul li {
    list-style: none;
}

a:hover {
    outline: none;
    text-decoration: none;
}

a:focus {
    outline: none;
    outline-offset: 0;
}

a {
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
}

.btn:hover, .btn:focus {
    outline: none;
    box-shadow: none;
}

.navbar-toggle {
    background-color: #000;
}

a#scrollUp {
    bottom: 0px;
    right: 10px;
    padding: 5px 10px;
    background: #FE980F;
    color: #FFF;
    -webkit-animation: bounce 2s ease infinite;
    animation: bounce 2s ease infinite;
}

    a#scrollUp i {
        font-size: 30px;
    }


/*************************
*******Header CSS******
**************************/

.container {
    padding-top: 35px;
}

.header-top {
    background: #c8d6b9;
    padding-bottom: 30px;
    padding-top: 30px;
    width: 100%;
    height: 75px;
    position: fixed;
    display: flex;
    z-index: 999;
    box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.2); /* Đổ bóng */
}

.mainmenu ul li {
    padding-right: 15px;
    padding-left: 15px;
    top: -5px;
}

    .mainmenu ul li:first-child {
        padding-left: 0px;
    }

    .mainmenu ul li a {
        color: black;
        font-family: 'Roboto', sans-serif;
        font-size: 25px;
        font-weight: bold;
        position: relative;
        padding: 10px;
        top: -5px;
        left: 5px;
    }

        .mainmenu ul li a:hover /*, .mainmenu ul li a.active, .shop-menu ul li a.active*/ {
            border-color: #696763;
            border-radius: 14px;
        }

@media (max-width: 1300px) {
    .mainmenu ul li:not(:first-child) {
        display: none; /* Ẩn mọi đường link khác ngoại trừ link SHOP */
    }






}
/* Container cho ô tìm kiếm (đang test)*/
.search_box {
    position: relative;
    max-width: 400px; /* Đặt chiều rộng tối đa cho ô tìm kiếm */
    margin: 0 auto; /* Căn giữa trong trang */
    top: -18px;
    left: 40px;
}

/* Ô tìm kiếm */
.search_box input[type="text"] {
    height: 50px;
    width: 250px;
    padding: 12px 40px 12px 15px;
    border: 2px solid #ddd; /* Đường viền mờ của ô*/
    border-radius: 16px;
    font-size: 16px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s, box-shadow 0.3s; /* Hiệu ứng chuyển đổi cho đường viền và bóng */
    outline: none; /* Ẩn viền mặc định của trình duyệt */
    background-color: #f3f2ec;
}

        /* Hiệu ứng khi ô nhập được chọn */
        .search_box input[type="text"]:focus {
            border-color: #50564a; /* Đổi màu viền khi ô được chọn */
            box-shadow: 0 0 5px rgba(76, 175, 80, 0.5); /* Tạo bóng mờ quanh ô nhập */
        }

    /* Nút tìm kiếm */
    .search_box button {
        position: absolute; /* Đặt nút trong vị trí tương đối */
        max-width: 40px;
        max-height: 45px;
        left: 205px; /* Đưa nút về bên trái */
        top: 5px;
        padding: 11px 20px; /* Khoảng cách bên trong */
        border: none; /* Không có đường viền */
        color: black; /* Màu chữ */
        border-radius: 10px 15px 15px 10px; /* Bo góc tròn */
        background-color: #f3f2ec;
        max-width: 40px;
        max-height: 45px;
    }



  /*  Nút giỏ hàng và user (đang test)*/
.shop-menu ul li {
    position: relative;
    top: -25px;
    right: 30px;
    padding: 0;
    max-width: 150px;
}

    .shop-menu ul li:last-child {
        margin-left: 10px; /* Thêm khoảng các nút từ li cuối cùng trong ul */
    }


    .shop-menu ul li a {
        display: flex;
        align-items: center; /* Căn chỉnh icon và chữ theo chiều dọc */
        color: #696763;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-weight: 300;
        padding: 5px;
        margin-top: 10px;
    }


        .shop-menu ul li a i {
            margin-right: 3px;
        }


        .shop-menu ul li a:hover {
            border-color: #696763;
            border-radius: 16px;
        }


    .shop-menu ul li img {
        margin-right: 5px; /* Thêm margin giữa các icon và chữ bên cạnh */
    }

@media (max-width: 1300px) {

    .shop-menu ul li a {
        justify-content: center;  Căn giữa icon và span 
    }

    .shop-menu ul li a {
        display: flex;
        align-items: center;
    }

    .shop-menu ul li:last-child {
        margin-left: -60px;  Thêm khoảng các nút từ li cuối cùng trong ul 
    }

    .shop-menu ul li a span {
        display: inline;  Hiển thị span 
    }

    .shop-menu ul li a img {
        display: inline;  Hiển thị icon 
    }

    .shop-menu ul li a {
        color: transparent;  Ẩn văn bản 
    }

        .shop-menu ul li a span,
        .shop-menu ul li a img {
            color: inherit;  Đảm bảo icon và span vẫn hiển thị đúng 
            right: 70px;
        }
}


/*  Dropdown menu*/

.navbar-header {
}

.navbar-toggle .icon-bar {
    background-color: #fff;
}


.nav.navbar-nav > li:hover > ul.sub-menu {
    display: block;
    -webkit-animation: fadeInUp 400ms;
    -moz-animation: fadeInUp 400ms;
    -ms-animation: fadeInUp 400ms;
    -o-animation: fadeInUp 400ms;
    animation: fadeInUp 400ms;
}

ul.sub-menu {
    position: relative;
    top: 30px;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    list-style: none;
    padding: 0;
    margin: 0;
    width: 220px;
    -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
    display: none;
    z-index: 999;
}

.dropdown ul.sub-menu li .active {
    color: #FDB45E;
    padding-left: 0;
}


.navbar-nav li ul.sub-menu li {
    padding: 10px 20px 0;
}

    .navbar-nav li ul.sub-menu li:last-child {
        padding-bottom: 20px;
    }

    .navbar-nav li ul.sub-menu li a {
        color: #fff;
    }

        .navbar-nav li ul.sub-menu li a:hover {
            color: #FDB45E;
        }

.fa-angle-down {
    padding-left: 5px;
}

@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

/*************************
*******Footer CSS******
**************************/

#footer {
    background: #F0F0E9;
    padding: 20px;
}


.footer-top .container {
    border-bottom: 1px solid #E0E0DA;
    padding-bottom: 20px;
}

.footer-top .col-sm-3 {
    overflow: hidden;
}



.footer-widget {
    margin-bottom: 40px;
}

    .footer-widget .container {
        border-top: 1px solid #c8d6b9;
        padding-top: 15px;
    }

.single-widget h2 {
    color: #666663;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 22px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
}

    .single-widget h2 i {
        margin-right: 15px;
    }

.single-widget ul li a {
    color: #8C8C88;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    font-weight: 300;
    padding: 3px 0 0 0;
    transition: padding-bottom 0.15s ease-in-out;
    transition: font-size 0.15s ease-in-out;
}

    .single-widget ul li a i {
        margin-right: 18px;
    }

    .single-widget ul li a:hover {
        background: none;
        padding-bottom: 5px;
        font-size: 20px;
    }

/*************************
******* Home ******
**************************/


#slider {
    padding-bottom: 45px;
}

.carousel-indicators li {
    background: #C4C4BE;
}

    .carousel-indicators li.active {
        background: #FE980F;
    }

.item {
    padding-left: 100px;
}


.pricing {
    position: absolute;
    right: 40%;
    top: 52%;
}

.girl {
    margin-left: 0;
}

.item h1 {
    color: #B4B1AB;
    font-family: abel;
    font-size: 48px;
    margin-top: 115px;
}

    .item h1 span {
        color: #FE980F;
    }

.item h2 {
    color: #363432;
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 22px;
    margin-top: 10px;
}

.item p {
    color: #363432;
    font-size: 16px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
}

.get {
    background: #FE980F;
    border: 0 none;
    border-radius: 0;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    margin-top: 23px;
}



/*
.item button:hover {
    background: #FE980F;
}*/



.control-carousel {
    position: absolute;
    top: 50%;
    font-size: 60px;
    color: #C2C2C1;
}

    .control-carousel:hover {
        color: #FE980F;
    }

.right {
    right: 0;
}

.category-products {
    border: 1px solid #F7F7F0;
    margin-bottom: 35px;
    padding-bottom: 20px;
    padding-top: 15px;
}

.left-sidebar h2, .brands_products h2 {
    color: #FE980F;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 700;
    margin: 0 auto 30px;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    z-index: 3;
}

    .left-sidebar h2:after, h2.title:after {
        content: " ";
        position: absolute;
        border: 1px solid #f5f5f5;
        bottom: 8px;
        left: 0;
        width: 100%;
        height: 0;
        z-index: -2;
    }

    .left-sidebar h2:before {
        content: " ";
        position: absolute;
        background: #fff;
        bottom: -6px;
        width: 130px;
        height: 30px;
        z-index: -1;
        left: 50%;
        margin-left: -65px;
    }
/*    Ô trắng dưới cùng footer? */
/*
h2.title:before {
    content: " ";
    position: absolute;
    background: #fff;
    bottom: -6px;
    width: 220px;
    height: 30px;
    z-index: -1;
    left: 50%;
    margin-left: -110px;
}
*/


.category-products .panel {
    background-color: #FFFFFF;
    border: 0px;
    border-radius: 0px;
    box-shadow: none;
    margin-bottom: 0px;
}

.category-products .panel-default .panel-heading {
    background-color: #FFFFFF;
    border: 0 none;
    color: #FFFFFF;
    padding: 5px 20px;
}

    .category-products .panel-default .panel-heading .panel-title a {
        color: #696763;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        text-decoration: none;
        text-transform: uppercase;
    }

.panel-group .panel-heading + .panel-collapse .panel-body {
    border-top: 0 none;
}

.category-products .badge {
    background: none;
    border-radius: 10px;
    color: #696763;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
    min-width: 10px;
    padding: 3px 7px;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
}

.panel-body ul {
    padding-left: 20px;
}


    .panel-body ul li a {
        color: #696763;
        font-family: 'Roboto', sans-serif;
        font-size: 12px;
        text-transform: uppercase;
    }

.brands-name {
    border: 1px solid #F7F7F0;
    padding-bottom: 20px;
    padding-top: 15px;
}


    .brands-name .nav-stacked li a {
        background-color: #FFFFFF;
        color: #696763;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        padding: 5px 25px;
        text-decoration: none;
        text-transform: uppercase;
    }

        .brands-name .nav-stacked li a:hover {
            background-color: #fff;
            color: #696763;
        }

.shipping {
    background-color: #F2F2F2;
    margin-top: 40px;
    overflow: hidden;
    padding-top: 20px;
    position: relative;
}


.price-range {
    margin-top: 30px;
}

.well {
    background-color: #FFFFFF;
    border: 1px solid #F7F7F0;
    border-radius: 4px;
    box-shadow: none;
    margin-bottom: 20px;
    min-height: 20px;
    padding: 35px;
}


.tooltip-inner {
    background-color: #FE980F;
    border-radius: 4px;
    color: #FFFFFF;
    max-width: 200px;
    padding: 3px 8px;
    text-align: center;
    text-decoration: none;
}

.tooltip.top .tooltip-arrow {
    border-top-color: #FE980F;
    border-width: 5px 5px 0;
    bottom: 0;
    left: 50%;
    margin-left: -5px;
}


.padding-right {
    padding-right: 0;
}

.features_items {
    overflow: hidden;
}


h2.title {
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 10px;
    padding: 20px;
    /*    position:relative;
*/
}

/*.product-image-wrapper {
    border: 1px solid #F7F7F5;
    overflow: hidden;
    margin-bottom: 30px;
}

.single-products {
    position: relative;
}

.new, .sale {
    position: absolute;
    top: 0;
    right: 0;
}

.productinfo h2 {
    color: #FE980F;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 700;
}

.product-overlay h2 {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 700;
}


.productinfo p {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #696763;
}

.productinfo img {
    width: 100%;
}

.productinfo {
    position: relative;
}

.product-overlay {
    background: #FE980F;
    top: 0;
    display: none;
    height: 0;
    position: absolute;
    transition: height 500ms ease 0s;
    width: 100%;
    display: block;
    opacity:;
}

.single-products:hover .product-overlay {
    display: block;
    height: 100%;
}


.product-overlay .overlay-content {
    bottom: 0;
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
}

.product-overlay .add-to-cart {
    background: #fff;
    border: 0 none;
    border-radius: 0;
    color: #FE980F;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    margin-bottom: 25px;
}

    .product-overlay .add-to-cart:hover {
        background: #fff;
        color: #FE980F;
    }


.product-overlay p {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
}



.add-to-cart {
    background: #F5F5ED;
    border: 0 none;
    border-radius: 0;
    color: #696763;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    margin-bottom: 25px;
}

    .add-to-cart:hover {
        background: #FE980F;
        border: 0 none;
        border-radius: 0;
        color: #FFFFFF;
    }

.add-to {
    margin-bottom: 10px;
}

.add-to-cart i {
    margin-right: 5px;
}

.add-to-cart:hover {
    background: #FE980F;
    color: #FFFFFF;
}

.choose {
    border-top: 1px solid #F7F7F0;
}

    .choose ul li a {
        color: #B3AFA8;
        font-family: 'Roboto', sans-serif;
        font-size: 13px;
        padding-left: 0;
        padding-right: 0;
    }

        .choose ul li a i {
            margin-right: 5px;
        }

        .choose ul li a:hover {
            background: none;
            color: #FE980F;
        }

.category-tab {
    overflow: hidden;
}

    .category-tab ul {
        background: #40403E;
        border-bottom: 1px solid #FE980F;
        list-style: none outside none;
        margin: 0 0 20px;
        padding: 0;
        width: 100%;
    }

        .category-tab ul li a {
            border: 0 none;
            border-radius: 0;
            color: #B3AFA8;
            display: block;
            font-family: 'Roboto', sans-serif;
            font-size: 14px;
            text-transform: uppercase;
        }

            .category-tab ul li a:hover {
                background: #FE980F;
                color: #fff;
            }
*/
.nav-tabs li.active a, .nav-tabs li.active a:hover, .nav-tabs li.active a:focus {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #FE980F;
    border: 0px;
    color: #FFFFFF;
    cursor: default;
    margin-right: 0;
    margin-left: 0;
}

.nav-tabs li a {
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 4px 4px 0 0;
    line-height: 1.42857;
    margin-right: 0;
}

.recommended_items {
    overflow: hidden;
}

#recommended-item-carousel .carousel-inner .item {
    padding-left: 0;
}

.recommended-item-control {
    position: absolute;
    top: 41%;
}

    .recommended-item-control i {
        background: none repeat scroll 0 0 #FE980F;
        color: #FFFFFF;
        font-size: 20px;
        padding: 4px 10px;
    }

        .recommended-item-control i:hover {
            background: #ccccc6;
        }

.recommended_items h2 {
}

.our_partners {
    overflow: hidden;
}

    .our_partners ul {
        background: #F7F7F0;
        margin-bottom: 50px;
    }


        .our_partners ul li a:hover {
            background: none;
        }

/*************************
*******Shop CSS******
**************************/


#advertisement {
    padding-bottom: 45px;
}

    #advertisement img {
        width: 100%;
    }

.pagination {
    display: inline-block;
    margin-bottom: 25px;
    margin-top: 0;
    padding-left: 15px;
}

    .pagination li:first-child a, .pagination li:first-child span {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        margin-left: 0;
    }

    .pagination li:last-child a, .pagination li:last-child span {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
    }

    .pagination .active a, .pagination .active span, .pagination .active a:hover, .pagination .active span:hover, .pagination .active a:focus, .pagination .active span:focus {
        background-color: #FE980F;
        border-color: #FE980F;
        color: #FFFFFF;
        cursor: default;
        z-index: 2;
    }

    .pagination li a, .pagination li span {
        background-color: #f0f0e9;
        border: 0;
        float: left;
        line-height: 1.42857;
        margin-left: -1px;
        padding: 6px 12px;
        position: relative;
        text-decoration: none;
        margin-right: 5px;
        color: #000;
    }

        .pagination li a:hover {
            background: #FE980F;
            color: #fff;
        }



/*************************
*******Product Details CSS******
**************************/

.product-details {
    overflow: hidden;
}


#similar-product {
    margin-top: 40px;
}


#reviews {
    padding-left: 25px;
    padding-right: 25px;
}

.product-details {
    margin-bottom: 40px;
    overflow: hidden;
    margin-top: 10px;
}



.view-product {
    position: relative;
}

    .view-product img {
        border: 1px solid #F7F7F0;
        height: 380px;
        width: 100%;
    }

    .view-product h3 {
        background: #FE980F;
        bottom: 0;
        color: #FFFFFF;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        font-weight: 700;
        margin-bottom: 0;
        padding: 8px 20px;
        position: absolute;
        right: 0;
    }

#similar-product .carousel-inner .item {
    padding-left: 0px;
}

    #similar-product .carousel-inner .item img {
        display: inline-block;
        margin-left: 15px;
    }

.item-control {
    position: absolute;
    top: 35%;
}

    .item-control i {
        background: #FE980F;
        color: #FFFFFF;
        font-size: 20px;
        padding: 5px 10px;
    }

        .item-control i:hover {
            background: #ccccc6;
        }

.product-information {
    border: 1px solid #F7F7F0;
    overflow: hidden;
    padding-bottom: 60px;
    padding-left: 60px;
    padding-top: 60px;
    position: relative;
}

.newarrival {
    position: absolute;
    top: 0;
    left: 0
}

.product-information h2 {
    color: #363432;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin-top: 0;
}

.product-information p {
    color: #696763;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 5px;
}

.product-information span {
    display: inline-block;
    margin-bottom: 8px;
    margin-top: 18px;
}

    .product-information span span {
        color: #FE980F;
        float: left;
        font-family: 'Roboto', sans-serif;
        font-size: 30px;
        font-weight: 700;
        margin-right: 20px;
        margin-top: 0px;
    }

    .product-information span input {
        border: 1px solid #DEDEDC;
        color: #696763;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 700;
        height: 33px;
        outline: medium none;
        text-align: center;
        width: 50px;
    }

    .product-information span label {
        color: #696763;
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        margin-right: 5px;
    }

.share {
    margin-top: 15px;
}


.cart {
    background: #FE980F;
    border: 0 none;
    border-radius: 0;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    margin-bottom: 10px;
    margin-left: 20px;
}


.shop-details-tab {
    border: 1px solid #F7F7F0;
    margin-bottom: 75px;
    margin-left: 15px;
    margin-right: 15px;
    padding-bottom: 10px;
}

    .shop-details-tab .col-sm-12 {
        padding-left: 0;
        padding-right: 0;
    }


#reviews ul {
    background: #FFFFFF;
    border: 0 none;
    list-style: none outside none;
    margin: 0 0 20px;
    padding: 0;
}

    #reviews ul li {
        display: inline-block;
    }

        #reviews ul li a {
            color: #696763;
            display: block;
            font-family: 'Roboto', sans-serif;
            font-size: 14px;
            padding-right: 15px;
        }

            #reviews ul li a i {
                color: #FE980F;
                padding-right: 8px;
            }

            #reviews ul li a:hover {
                background: #fff;
                color: #FE980F;
            }

#reviews p {
    color: #363432;
}

#reviews form span {
    display: block;
}

    #reviews form span input {
        background: #F0F0E9;
        border: 0 none;
        color: #A6A6A1;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        outline: medium none;
        padding: 8px;
        width: 48%;
    }

        #reviews form span input:last-child {
            margin-left: 3%;
        }

#reviews textarea {
    background: #F0F0E9;
    border: medium none;
    color: #A6A6A1;
    height: 195px;
    margin-bottom: 25px;
    margin-top: 15px;
    outline: medium none;
    padding-left: 10px;
    padding-top: 15px;
    resize: none;
    width: 99.5%;
}

#reviews button {
    background: #FE980F;
    border: 0 none;
    border-radius: 0;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}


/*************************
*******404 CSS******
**************************/

.logo-404 {
    margin-top: 60px;
}

.content-404 h1 {
    color: #363432;
    font-family: 'Roboto', sans-serif;
    font-size: 41px;
    font-weight: 300;
}

.content-404 img {
    margin: 0 auto;
}

.content-404 p {
    color: #363432;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.content-404 h2 {
    margin-top: 50px;
}

    .content-404 h2 a {
        background: #FE980F;
        color: #FFFFFF;
        font-family: 'Roboto', sans-serif;
        font-size: 44px;
        font-weight: 300;
        padding: 8px 40px;
    }


/*************************
*******login page CSS******
**************************/

#form {
    display: block;
    margin-bottom: 185px;
    margin-top: 185px;
    overflow: hidden;
}

.login-form {
}

.signup-form {
}

    .login-form h2, .signup-form h2 {
        color: #696763;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 300;
        margin-bottom: 30px;
    }


    .login-form form input, .signup-form form input {
        background: #F0F0E9;
        border: medium none;
        color: #696763;
        display: block;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        font-weight: 300;
        height: 40px;
        margin-bottom: 10px;
        outline: medium none;
        padding-left: 10px;
        width: 100%;
    }

.login-form form span {
    line-height: 25px;
}

    .login-form form span input {
        width: 15px;
        float: left;
        height: 15px;
        margin-right: 5px;
    }

.login-form form button {
    margin-top: 23px;
}

.login-form form button, .signup-form form button {
    background: #FE980F;
    border: medium none;
    border-radius: 0;
    color: #FFFFFF;
    display: block;
    font-family: 'Roboto', sans-serif;
    padding: 6px 25px;
}

.login-form label {
}


    .login-form label input {
        border: medium none;
        display: inline-block;
        height: 0;
        margin-bottom: 0;
        outline: medium none;
        padding-left: 0;
    }


.or {
    background: #FE980F;
    border-radius: 40px;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    height: 50px;
    line-height: 50px;
    margin-top: 75px;
    text-align: center;
    width: 50px;
}


/*************************
*******Cart CSS******
**************************/

#do_action {
    margin-bottom: 50px;
}

.breadcrumbs {
    position: relative;
}

    .breadcrumbs .breadcrumb {
        background: transparent;
        margin-bottom: 75px;
        padding-left: 0;
    }

        .breadcrumbs .breadcrumb li a {
            background: #FE980F;
            color: #FFFFFF;
            padding: 3px 7px;
        }

            .breadcrumbs .breadcrumb li a:after {
                content: "";
                height: auto;
                width: auto;
                border-width: 8px;
                border-style: solid;
                border-color: transparent transparent transparent #FE980F;
                position: absolute;
                top: 11px;
                left: 48px;
            }

        .breadcrumbs .breadcrumb > li + li:before {
            content: " ";
        }

#cart_items .cart_info {
    border: 1px solid #E6E4DF;
    margin-bottom: 50px
}


    #cart_items .cart_info .cart_menu {
        background: #FE980F;
        color: #fff;
        font-size: 16px;
        font-family: 'Roboto', sans-serif;
        font-weight: normal;
    }

    #cart_items .cart_info .table.table-condensed thead tr {
        height: 51px;
    }


    #cart_items .cart_info .table.table-condensed tr {
        border-bottom: 1px solid#F7F7F0
    }

        #cart_items .cart_info .table.table-condensed tr:last-child {
            border-bottom: 0
        }

.cart_info table tr td {
    border-top: 0 none;
    vertical-align: inherit;
}


#cart_items .cart_info .image {
    padding-left: 30px;
}


#cart_items .cart_info .cart_description h4 {
    margin-bottom: 0
}

    #cart_items .cart_info .cart_description h4 a {
        color: #363432;
        font-family: 'Roboto',sans-serif;
        font-size: 20px;
        font-weight: normal;
    }

#cart_items .cart_info .cart_description p {
    color: #696763
}


#cart_items .cart_info .cart_price p {
    color: #696763;
    font-size: 18px
}


#cart_items .cart_info .cart_total_price {
    color: #FE980F;
    font-size: 24px;
}

.cart_product {
    display: block;
    margin: 15px -70px 10px 25px;
}

.cart_quantity_button a {
    background: #F0F0E9;
    color: #696763;
    display: inline-block;
    font-size: 16px;
    height: 28px;
    overflow: hidden;
    text-align: center;
    width: 35px;
    float: left;
}


.cart_quantity_input {
    color: #696763;
    float: left;
    font-size: 16px;
    text-align: center;
    font-family: 'Roboto',sans-serif;
}


.cart_delete {
    display: block;
    margin-right: -12px;
    overflow: hidden;
}


    .cart_delete a {
        background: #F0F0E9;
        color: #FFFFFF;
        padding: 5px 7px;
        font-size: 16px
    }

        .cart_delete a:hover {
            background: #FE980F
        }


.bg h2.title {
    margin-right: 0;
    margin-left: 0;
    margin-top: 0;
}

.heading h3 {
    color: #363432;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

.heading p {
    color: #434343;
    font-size: 16px;
    font-weight: 300;
}


#do_action .total_area {
    padding-bottom: 18px !important;
}

#do_action .total_area, #do_action .chose_area {
    border: 1px solid #E6E4DF;
    color: #696763;
    padding: 30px 25px 30px 0;
    margin-bottom: 80px;
}

.total_area span {
    float: right;
}

.total_area ul li {
    background: #E6E4DF;
    color: #696763;
    margin-top: 10px;
    padding: 7px 20px;
}


.user_option label {
    color: #696763;
    font-weight: normal;
    margin-left: 10px;
}


.user_info {
    display: block;
    margin-bottom: 15px;
    margin-top: 20px;
    overflow: hidden;
}

    .user_info label {
        color: #696763;
        display: block;
        font-size: 15px;
        font-weight: normal;
    }

    .user_info .single_field {
        width: 31%
    }

        .user_info .single_field.zip-field input {
            background: transparent;
            border: 1px solid#F0F0E9
        }

    .user_info > li {
        float: left;
        margin-right: 10px
    }

        .user_info > li > span {
        }

    .user_info input, select, textarea {
        background: #F0F0E9;
        border: 0;
        color: #696763;
        padding: 5px;
        width: 100%;
        border-radius: 0;
        resize: none
    }

    .user_info select:focus {
        border: 0
    }


.chose_area .update {
    margin-left: 40px;
}

.update, .check_out {
    background: #FE980F;
    border-radius: 0;
    color: #FFFFFF;
    margin-top: 18px;
    border: none;
    padding: 5px 15px;
}

.update {
    margin-left: 40px;
}

.check_out {
    margin-left: 20px
}



/*************************
*******checkout CSS******
**************************/

.step-one {
    margin-bottom: -10px
}

    .register-req, .step-one .heading {
        background: none repeat scroll 0 0 #F0F0E9;
        color: #363432;
        font-size: 20px;
        margin-bottom: 35px;
        padding: 10px 25px;
        font-family: 'Roboto', sans-serif;
    }

.checkout-options {
    padding-left: 20px
}


    .checkout-options h3 {
        color: #363432;
        font-size: 20px;
        margin-bottom: 0;
        font-weight: normal;
        font-family: 'Roboto', sans-serif;
    }

    .checkout-options p {
        color: #434343;
        font-weight: 300;
        margin-bottom: 25px;
    }

    .checkout-options .nav li {
        float: left;
        margin-right: 45px;
        color: #696763;
        font-size: 18px;
        font-family: 'Roboto', sans-serif;
        font-weight: normal;
    }

    .checkout-options .nav label {
        font-weight: normal;
    }

    .checkout-options .nav li a {
        color: #FE980F;
        font-size: 18px;
        font-weight: normal;
        padding: 0
    }

        .checkout-options .nav li a:hover {
            background: inherit;
        }

    .checkout-options .nav i {
        margin-right: 10px;
        border-radius: 50%;
        padding: 5px;
        background: #FE980F;
        color: #fff;
        font-size: 14px;
        padding: 2px 3px;
    }


.register-req {
    font-size: 14px;
    font-weight: 300;
    padding: 15px 20px;
    margin-top: 35px;
}

    .register-req p {
        margin-bottom: 0
    }



.shopper-info p,
.bill-to p,
.order-message p {
    color: #696763;
    font-size: 20px;
    font-weight: 300
}


.shopper-info .btn-primary {
    background: #FE980F;
    border: 0 none;
    border-radius: 0;
    margin-right: 15px;
    margin-top: 20px;
}


.form-two, .form-one {
    float: left;
    width: 47%
}


    .shopper-info > form > input,
    .form-two > form > select,
    .form-two > form > input,
    .form-one > form > input {
        background: #F0F0E9;
        border: 0 none;
        margin-bottom: 10px;
        padding: 10px;
        width: 100%;
        font-weight: 300
    }

    .form-two > form > select {
        padding: 10px 5px
    }

.form-two {
    margin-left: 5%
}


.order-message textarea {
    font-size: 12px;
    height: 335px;
    margin-bottom: 20px;
    padding: 15px 20px;
}

.order-message label {
    font-weight: 300;
    color: #696763;
    font-family: 'Roboto', sans-serif;
    margin-left: 10px;
    font-size: 14px
}


.review-payment h2 {
    color: #696763;
    font-size: 20px;
    font-weight: 300;
    margin-top: 45px;
    margin-bottom: 20px
}

.payment-options {
    margin-bottom: 125px;
    margin-top: -25px
}

    .payment-options span label {
        color: #696763;
        font-size: 14px;
        font-weight: 300;
        margin-right: 30px;
    }

#cart_items .cart_info
.table.table-condensed.total-result {
    margin-bottom: 10px;
    margin-top: 35px;
    color: #696763
}

    #cart_items .cart_info
    .table.table-condensed.total-result tr {
        border-bottom: 0
    }

    #cart_items .cart_info
    .table.table-condensed.total-result span {
        color: #FE980F;
        font-weight: 700;
        font-size: 16px
    }

    #cart_items .cart_info
    .table.table-condensed.total-result
    .shipping-cost {
        border-bottom: 1px solid #F7F7F0;
    }


/*************************
*******Product CSS******
**************************/


.recommended-items {
    margin-top: 20px;
}

.products {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Chia làm bốn cột có chiều rộng bằng nhau */
    grid-gap: 20px; /* Khoảng trống giữa các ô */
    padding: 0;
    place-self: center; /*Định vị một ô trong một khu vực cụ thể, căn giữa*/
}


ul.products li {
    box-sizing: border-box;
}

    ul.products li img { /*Chỉnh  ở đây*/
        width: 360px;
        height: 360px;
        object-fit: cover;
        border-radius: 12px;
    }

    ul.products li .product-top {
        position: relative;
        overflow: hidden;
    }

        ul.products li .product-top .product-thumb { /*Thumbnail*/
            display: block;
        }

    ul.products li:hover .product-top .product-thumb { /*Độ mờ thumbnail khi di chuột vào*/
        filter: opacity(80%);
    }

    ul.products li .product-top .product-thumb img {
        display: block;
        border-radius: 5px;
    }

    ul.products li .product-top form.buy-now { /*Nút mua ngay*/
        text-transform: uppercase;
        text-decoration: none;
        text-align: center;
        display: block;
        background-color: #c8d6b9;
        color: #fff;
        padding: 10px 0px;
        position: absolute;
        bottom: -65px;
        width: 100%;
        transition: 0.3s;
        border-radius: 5px;
    }

    ul.products li:hover form.buy-now { /*Nút mua ngay khi di chuột vào*/
        bottom: 0px;
        opacity: 0.9;
    }

.btn-default {
    background-color: #c8d6b9;
    color: white;
    font-size: 20px;
}

    .btn-default:hover {
        background-color: rgba(0, 0, 0, 0); /* Nền đen trong suốt 10% khi hover */
        border: none;
        color: white;
    }

ul.products li .product-info { /*Thông tin tóm tắt sản phẩm*/
    padding: 10px 0px; /*Thông tin cách ảnh một khoảng*/
}

    ul.products li .product-info a {
        display: block;
        text-decoration: none;
    }

        ul.products li .product-info a.product-cat {
            font-size: 11px;
            text-transform: uppercase;
            color: #111;
            padding: 3px 0px;
        }

        ul.products li .product-info a.product-name {
            color: #111;
            font-size: 20px;
        }

    ul.products li .product-info .product-price {
        color: red;
        text-align: center;
        font-weight: bold;
        font-size: 22px;
    }

@media (max-width: 1500px) {
    .products {
        grid-template-columns: repeat(3, 1fr); /* Ba cột cho màn hình từ 1200px trở xuống */
    }

    ul.products li img {
        width: 330px;
        height: 330px;
    }

    ul.products li .product-top form.buy-now {
        max-width: 330px;
    }
}

@media (max-width: 1050px) {
    .products {
        grid-template-columns: repeat(2, 1fr); /* Hai cột cho màn hình từ 768px trở xuống */
    }

    ul.products li img {
        width: 300px;
        height: 300px;
    }

    .btn-default {
        font-size: 16px;
    }

    ul.products li .product-info a.product-name {
        font-size: 16px;
    }

    ul.products li .product-info .product-price {
        font-size: 18px;
    }

    ul.products li .product-top form.buy-now {
        max-width: 300px;
    }
}

@media (max-width: 640px) {
    .products {
        grid-template-columns: repeat(2, 1fr); /* Một cột cho màn hình từ 480px trở xuống */
    }

    ul.products li img {
        width: 220px;
        height: 220px;
    }

    .btn-default {
        font-size: 14px;
        padding: 8px 0;
    }

    ul.products li .product-info a.product-name {
        font-size: 14px;
    }

    ul.products li .product-info .product-price {
        font-size: 16px;
    }

    ul.products li .product-top form.buy-now {
        padding: 8px 0;
    }

    ul.products li .product-top form.buy-now {
        max-width: 220px;
    }
}

@media (max-width: 360px) {
    .products {
        grid-template-columns: repeat(1, 1fr); /* Một cột cho màn hình từ 480px trở xuống */
    }

    ul.products li img {
        width: 120px;
        height: 120px;
    }

    .btn-default {
        font-size: 12px;
    }

    ul.products li .product-info a.product-name {
        font-size: 12px;
    }

    ul.products li .product-info .product-price {
        font-size: 14px;
    }
}







/*Các trang dưới footer (đang test)
*/ #PageInfo {
    align-items: center; /* Căn giữa theo chiều dọc */
    height: auto; /* Chiếm toàn bộ chiều cao màn hình */
    padding: 0; /* Tạo khoảng cách xung quanh */
}

    #PageInfo h2 {
        padding: 50px 100px 0 100px;
        margin: 0px;
        font-weight: bolder;
    }

    #PageInfo p {
        padding: 0px 100px;
        font-size: 25px;
        line-height: 1.8;
    }

        #PageInfo p i {
            font-weight: bold;
        }

@media (max-width:1080px) {
    #PageInfo {
        padding: 100px 20px 20px 0px;
    }

        #PageInfo h2 {
            padding: 40px 50px 0px 50px;
        }

        #PageInfo p {
            padding: 0px 50px;
            line-height: 1.9;
        }
}

@media (max-width:640px) {
    #PageInfo h2 {
        padding: 40px 20px 0px 20px;
    }

    #PageInfo p {
        padding: 0px 20px;
    }
}








/*************************
*******Sidebar moblie CSS******
**************************/

/*menu sidebar (đang test)*/
/*sidebar menu*/
.sidebar {
    position: fixed;
    top: 0;
    left: -250px; /*Cho qua trái để ẩn khỏi màn hình, khi kích hoạt thì sẽ đi từ trái sang*/
    width: 250px;
    height: 500%;
    background-color: #f3f2ec;
    overflow-y: auto;
    transition: left 0.3s ease-in-out;
    z-index: 1000;
    padding-top: 10px;
    font-size: 20px;
    border-radius: 0 4px 0 4px;
}

    .sidebar h2 {
        list-style-type: none;
        padding: 20px;
        text-align: center;
        color: #252a2b;
        border-bottom: 1px solid #c8d6b9;
    }

    .sidebar ul {
        list-style-type: none;
        padding: 0;
    }

        .sidebar ul li {
            padding: 15px;
            text-align: left;
        }

            .sidebar ul li a {
                color: #696763;
                text-decoration: none;
                display: block;
                padding: 10px;
            }

                .sidebar ul li a:hover {
                    background-color: #c0bfba;
                    border-radius: 12px;
                }

    /* Kích hoạt sidebar */
    .sidebar.active {
        left: 0;
    }

/* Đè lên khi sidebar được mở */
.sidebar-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: none;
    /*Hiệu ứng xóa phông, để cho đẹp chứ không ổn cho hiệu năng cho lắm...*/
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px); /*Đảm bảo hỗ trợ cho các trình duyệt Webkit*/
}
    /*Đè lên khi sidebar được kích hoạt*/
    .sidebar-overlay.active {
        display: block;
    }

/*Nút menu sidebar*/
.navbar-toggle {
    background: none;
    padding: 2px 4px 2px 4px;
    font-size: 16px;
    top: -20px;
    left: 10px;
    cursor: pointer;
    display: none;
    transition: border-radius 0.15s ease-in-out; /* Thời gian chuyển đổi và hiệu ứng chuyển động */
}

    .navbar-toggle:hover {
        background-color: #eeeeee;
        border-radius: 8px;
    }

    .navbar-toggle .icon-bar {
        width: 22px;
        height: 4px;
        background-color: #111;
        margin: 6px 0;
        display: block;
        border-radius: 12px;
    }

@media (max-width: 1280px) {
    .navbar-toggle {
        display: block;
    }
}




/*Bản đồ (đang test)*/
.map-container {
    position: relative;
    width: 300px;
    height: 250px;
}

.responsive-map {
    position: absolute;
    top: 0;
    left: -40px;
    border: 1px solid #c8d6b9; /* Đường viền mờ của ô*/
    border-radius: 12px; /* Ensure iframe corners are rounded */
}

@media (max-width: 1000px) {
    .map-container {
        bottom: -30px; /* Adjust aspect ratio if needed */
        left: 20px;
        max-width: 100px;
        max-height: 100px;
    }

    .responsive-map {
        max-width: 200px;
        max-height: 150px;
    }
}

@media (max-width: 600px) {
    .map-container {
        bottom: 50px; /* Adjust aspect ratio if needed */
        left: 20px;
        max-width: 100px;
        max-height: 100px;
    }

    .responsive-map {
        max-width: 180px;
        max-height: 150px;
    }
}
