
/*************************
*******Typography******
**************************/
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,400italic,500,700,100);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,800,300,600,700);
@import url(http://fonts.googleapis.com/css?family=Abel);

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f3f2ec;
    position: relative;
    font-weight: 400;
}

ul li {
    list-style: none;
}

a:hover {
    outline: none;
    text-decoration: none;
}

a:focus {
    outline: none;
    outline-offset: 0;
}

a {
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
}

.btn:hover, .btn:focus {
    outline: none;
    box-shadow: none;
}

.navbar-toggle {
    background-color: #000;
}

a#scrollUp {
    bottom: 0px;
    right: 10px;
    padding: 5px 10px;
    background: #FE980F;
    color: #FFF;
    -webkit-animation: bounce 2s ease infinite;
    animation: bounce 2s ease infinite;
}

    a#scrollUp i {
        font-size: 30px;
    }


/*************************
*******Header CSS******
**************************/

.container {
    padding-top: 65px;
}

.header-top {
    display: flex;
    justify-content: space-between; /* Căn chỉnh đều các phần tử con */
    align-items: center;
    background: #e3b06f;
    height: 75px;
    padding: 0 20px;
    position: fixed;
    width: 100%;
    z-index: 999;
    box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.2);
}

.mainmenu {
    display: flex;
    flex: 1; /* Chiếm không gian linh hoạt */
}

    .mainmenu ul {
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;
    }

        .mainmenu ul li {
            padding: 0 15px;
        }

            .mainmenu ul li a {
                color: black;
                font-family: 'Roboto', sans-serif;
                font-size: 24px;
                font-weight: bold;
                padding: 10px;
                text-decoration: none;
                border-radius: 4px;
            }

                .mainmenu ul li a:hover {
                    background-color: #f3f2ec;
                    border-radius: 14px;
                }

.search_box {
    display: flex;
    align-items: center;
    position: relative;
}

    .search_box input[type="text"] {
        height: 50px;
        width: 250px;
        padding: 8px 15px;
        border: 2px solid #ddd;
        border-radius: 16px;
        font-size: 20px;
        outline: none;
        background-color: #f3f2ec;
        transition: border-color 0.3s, box-shadow 0.3s;
    }

    .search_box button {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        border: none;
        background-color: transparent;
        color: black;
        font-size: 20px;
        padding: 5px;
        cursor: pointer;
    }
@media (max-width: 768px) {
    .search_box {
        max-width: 250px; /* Chiều rộng nhỏ hơn để vừa với không gian */
    }

        .search_box input[type="text"] {
            width: 180px; /* Đặt chiều rộng nhỏ hơn cho ô tìm kiếm */
            padding: 10px 30px 10px 10px; /* Điều chỉnh padding để cân đối */
        }

        .search_box button {
            left: 150px; 
        }
}

.shop-menu {
    display: flex;
    align-items: center;
}

    .shop-menu ul {
        display: flex;
        list-style: none;
        margin: auto;
        padding: 5px 0 0 0;
    }

        .shop-menu ul li {
            margin-left: 15px;
        }

            .shop-menu ul li a {
                display: flex;
                align-items: center;
                color: #111;
                font-family: 'Roboto', sans-serif;
                font-size: 16px;
                text-decoration: none;
                border-radius: 2px;
                font-size:18px;
                padding: 3px 2px 3px 2px;
                
            }

                .shop-menu ul li a img {
                    margin-right: 5px;
                }

                .shop-menu ul li a:hover {
                    background-color: #f3f2ec;
                    border-radius: 12px;
                }

@media (max-width: 768px) {
    .shop-menu ul li {
        margin-left: 5px; /* Giảm khoảng cách giữa các mục */
    }

        .shop-menu ul li a p {
            display: none; /* Ẩn phần văn bản */
        }

        .shop-menu ul li a img {
            width: 24px; /* Giảm kích thước của icon */
        }
}



/*************************
*******Footer CSS******
**************************/
#footer {
    background: #F0F0E9;
    padding: 20px;
}

.footer-widget {
    margin-bottom: 40px;
}

    .footer-widget .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        border-top: 1px solid #b08856;
        padding-top: 15px;
    }

.single-widget {
    flex:1;
    min-width: 210px;
    margin-bottom: 20px;
}

    .single-widget h2 {
        color: #666663;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 22px;
        text-transform: uppercase;
        font-size: 20px;
        font-weight: 600;
    }

    .single-widget ul li a {
        color: #8C8C88;
        font-family: 'Roboto', sans-serif;
        font-size: 17px;
        font-weight: 300;
        padding: 3px 0 0 0;
        transition: padding-bottom 0.25s ease-in-out;
        transition: font-size 0.2s ease-in-out;
    }

        .single-widget ul li a:hover {
            background: none;
            padding-bottom: 7px;
            font-size: 20px;
        }

.map-container {
    flex: 1;
    min-width: 200px;
    margin-bottom: 20px;
}


/*Bản đồ (đang test)*/
.map-container {
    position: relative;
    width: 290px;
    height: 240px;
}

.responsive-map {
    position: absolute;
    bottom: ;
    left: -40px;
    border: 1px solid #c8d6b9; /* Đường viền mờ của ô*/
    border-radius: 12px; /* Ensure iframe corners are rounded */
}
@media (max-width: 1200px) {
    .map-container {
        bottom: -10px; /* Adjust aspect ratio if needed */
        left: 20px;
        max-width: 100px;
        max-height: 100px;
    }

    .responsive-map {
        max-width: 250px;
        max-height: 200px;
    }
}
@media (max-width: 1000px) {
    .map-container {
        bottom: -30px; /* Adjust aspect ratio if needed */
        left: 20px;
        max-width: 100px;
        max-height: 100px;
    }

    .responsive-map {
        max-width: 190px;
        max-height: 150px;
    }
}

@media (max-width: 768px) {
    .footer-widget .container {
        flex-direction: column;
        align-items: center;
    }

    .single-widget {
        text-align: center;
    }
    .map-container {
        bottom: 35px; /* Adjust aspect ratio if needed */
        left: 50px;
        max-width: 100px;
        max-height: 100px;
    }

    .responsive-map {
        max-width: 180px;
        max-height: 150px;
    }
}


/*************************
******* Home ******
**************************/



/*************************
*******Product Details CSS******
**************************/

/*CSS internal trong ChiTietSanPham.cshtml*/

/*************************
*******404 CSS******
**************************/

.logo-404 {
    margin-top: 60px;
}

.content-404 h1 {
    color: #363432;
    font-family: 'Roboto', sans-serif;
    font-size: 41px;
    font-weight: 300;
}

.content-404 img {
    margin: 0 auto;
}

.content-404 p {
    color: #363432;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.content-404 h2 {
    margin-top: 50px;
}

    .content-404 h2 a {
        background: #FE980F;
        color: #FFFFFF;
        font-family: 'Roboto', sans-serif;
        font-size: 44px;
        font-weight: 300;
        padding: 8px 40px;
    }


/*************************
*******Login page CSS******
**************************/

/*CSS internal trong Login.cshtml*/

/*************************
*******Cart CSS******
**************************/

#do_action {
    margin-bottom: 50px;
}

.breadcrumbs {
    position: relative;
}

    .breadcrumbs .breadcrumb {
        background: transparent;
        margin-bottom: 75px;
        padding-left: 0;
    }

        .breadcrumbs .breadcrumb li a {
            background: #FE980F;
            color: #FFFFFF;
            padding: 3px 7px;
        }

            .breadcrumbs .breadcrumb li a:after {
                content: "";
                height: auto;
                width: auto;
                border-width: 8px;
                border-style: solid;
                border-color: transparent transparent transparent #FE980F;
                position: absolute;
                top: 11px;
                left: 48px;
            }

        .breadcrumbs .breadcrumb > li + li:before {
            content: " ";
        }

#cart_items .cart_info {
    border: 1px solid #E6E4DF;
    margin-bottom: 50px
}


    #cart_items .cart_info .cart_menu {
        background: #FE980F;
        color: #fff;
        font-size: 16px;
        font-family: 'Roboto', sans-serif;
        font-weight: normal;
    }

    #cart_items .cart_info .table.table-condensed thead tr {
        height: 51px;
    }


    #cart_items .cart_info .table.table-condensed tr {
        border-bottom: 1px solid#F7F7F0
    }

        #cart_items .cart_info .table.table-condensed tr:last-child {
            border-bottom: 0
        }

.cart_info table tr td {
    border-top: 0 none;
    vertical-align: inherit;
}


#cart_items .cart_info .image {
    padding-left: 30px;
}


#cart_items .cart_info .cart_description h4 {
    margin-bottom: 0
}

    #cart_items .cart_info .cart_description h4 a {
        color: #363432;
        font-family: 'Roboto',sans-serif;
        font-size: 20px;
        font-weight: normal;
    }

#cart_items .cart_info .cart_description p {
    color: #696763
}


#cart_items .cart_info .cart_price p {
    color: #696763;
    font-size: 18px
}


#cart_items .cart_info .cart_total_price {
    color: #FE980F;
    font-size: 24px;
}

.cart_product {
    display: block;
    margin: 15px -70px 10px 25px;
}

.cart_quantity_button a {
    background: #F0F0E9;
    color: #696763;
    display: inline-block;
    font-size: 16px;
    height: 28px;
    overflow: hidden;
    text-align: center;
    width: 35px;
    float: left;
}


.cart_quantity_input {
    color: #696763;
    float: left;
    font-size: 16px;
    text-align: center;
    font-family: 'Roboto',sans-serif;
}


.cart_delete {
    display: block;
    margin-right: -12px;
    overflow: hidden;
}


    .cart_delete a {
        background: #F0F0E9;
        color: #FFFFFF;
        padding: 5px 7px;
        font-size: 16px
    }

        .cart_delete a:hover {
            background: #FE980F
        }


.bg h2.title {
    margin-right: 0;
    margin-left: 0;
    margin-top: 0;
}

.heading h3 {
    color: #363432;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

.heading p {
    color: #434343;
    font-size: 16px;
    font-weight: 300;
}


#do_action .total_area {
    padding-bottom: 18px !important;
}

#do_action .total_area, #do_action .chose_area {
    border: 1px solid #E6E4DF;
    color: #696763;
    padding: 30px 25px 30px 0;
    margin-bottom: 80px;
}

.total_area span {
    float: right;
}

.total_area ul li {
    background: #E6E4DF;
    color: #696763;
    margin-top: 10px;
    padding: 7px 20px;
}


.user_option label {
    color: #696763;
    font-weight: normal;
    margin-left: 10px;
}


.user_info {
    display: block;
    margin-bottom: 15px;
    margin-top: 20px;
    overflow: hidden;
}

    .user_info label {
        color: #696763;
        display: block;
        font-size: 15px;
        font-weight: normal;
    }

    .user_info .single_field {
        width: 31%
    }

        .user_info .single_field.zip-field input {
            background: transparent;
            border: 1px solid#F0F0E9
        }

    .user_info > li {
        float: left;
        margin-right: 10px
    }

        .user_info > li > span {
        }

    .user_info input, select, textarea {
        background: #F0F0E9;
        border: 0;
        color: #696763;
        padding: 5px;
        width: 100%;
        border-radius: 0;
        resize: none
    }

    .user_info select:focus {
        border: 0
    }


.chose_area .update {
    margin-left: 40px;
}

.update, .check_out {
    background: #FE980F;
    border-radius: 0;
    color: #FFFFFF;
    margin-top: 18px;
    border: none;
    padding: 5px 15px;
}

.update {
    margin-left: 40px;
}

.check_out {
    margin-left: 20px
}




/*************************
*******Product CSS******
**************************/


.recommended-items {
    margin-top: 20px;
}
    .recommended-items h2 {
        color: black;
        font-family: 'Roboto', sans-serif;
        font-size: 30px;
        font-weight: 700;
        text-transform: uppercase;
        margin: auto;
        padding: 30px;
        }

    .products {
        display: grid;
        grid-template-columns: repeat(4, 1fr); /* Chia làm bốn cột có chiều rộng bằng nhau */
        grid-gap: 20px; /* Khoảng trống giữa các ô */
        padding: 0;
        place-self: center; /*Định vị một ô trong một khu vực cụ thể, căn giữa*/
    }


ul.products li {
    box-sizing: border-box;
}

    ul.products li img { /*Chỉnh  ở đây*/
        width: 330px;
        height: 330px;
        object-fit: cover;
        border-radius: 12px;
    }

    ul.products li .product-top {
        position: relative;
        overflow: hidden;
    }

        ul.products li .product-top .product-thumb { /*Thumbnail*/
            display: block;
        }

    ul.products li:hover .product-top .product-thumb { /*Độ mờ thumbnail khi di chuột vào*/
        filter: opacity(80%);
    }

    ul.products li .product-top .product-thumb img {
        display: block;
        border-radius: 5px;
    }

    ul.products li .product-top form.buy-now { /*Nút mua ngay*/
        text-transform: uppercase;
        text-decoration: none;
        text-align: center;
        display: block;
        background-color: #d4d5cd;
        color: black;
        padding: 10px 0px;
        position: absolute;
        bottom: -65px;
        width: 100%;
        transition: 0.3s;
        border-radius: 5px;
    }

    ul.products li:hover form.buy-now { /*Nút mua ngay khi di chuột vào*/
        bottom: 0px;
        opacity: 0.9;
    }

.btn-default{
    background-color: #d4d5cd;
    color: black;
    font-size: 20px;
    border:none;
}

    .btn-default:hover {
        background-color: rgba(0, 0, 0, 0); /* Nền đen trong suốt 10% khi hover */
        border: none;
        color: black;
    }

ul.products li .product-info { /*Thông tin tóm tắt sản phẩm*/
    padding: 10px 0px; /*Thông tin cách ảnh một khoảng*/
}

    ul.products li .product-info a {
        display: block;
        text-decoration: none;
    }

        ul.products li .product-info a.product-cat {
            font-size: 11px;
            text-transform: uppercase;
            color: #111;
            padding: 3px 0px;
        }

        ul.products li .product-info a.product-name {
            color: #111;
            font-size: 20px;
        }

    ul.products li .product-info .product-price {
        color: red;
        text-align: center;
        font-weight: bold;
        font-size: 22px;
    }

@media (max-width: 1400px) {
    .products {
        grid-template-columns: repeat(3, 1fr); /* Ba cột cho màn hình từ 1200px trở xuống */
    }

    ul.products li img {
        width: 300px;
        height: 300px;
    }

    ul.products li .product-top form.buy-now {
        max-width: 330px;
    }
}

@media (max-width: 1050px) {
    .products {
        grid-template-columns: repeat(2, 1fr); /* Hai cột cho màn hình từ 768px trở xuống */
    }

    ul.products li img {
        width: 280px;
        height: 280px;
    }

    .btn-default {
        font-size: 16px;
    }

    ul.products li .product-info a.product-name {
        font-size: 16px;
    }

    ul.products li .product-info .product-price {
        font-size: 18px;
    }

    ul.products li .product-top form.buy-now {
        max-width: 300px;
    }
}

@media (max-width: 640px) {
    .products {
        grid-template-columns: repeat(2, 1fr); /* Một cột cho màn hình từ 480px trở xuống */
    }

    ul.products li img {
        width: 200px;
        height: 200px;
    }

    .btn-default {
        font-size: 14px;
        padding: 8px 0;
    }

    ul.products li .product-info a.product-name {
        font-size: 14px;
    }

    ul.products li .product-info .product-price {
        font-size: 16px;
    }

    ul.products li .product-top form.buy-now {
        padding: 8px 0;
    }

    ul.products li .product-top form.buy-now {
        max-width: 220px;
    }
}

@media (max-width: 360px) {
    .products {
        grid-template-columns: repeat(2, 1fr); /* Một cột cho màn hình từ 480px trở xuống */
    }

    ul.products li img {
        width: 100px;
        height: 100px;
    }

    .btn-default {
        font-size: 12px;
    }

    ul.products li .product-info a.product-name {
        font-size: 12px;
    }

    ul.products li .product-info .product-price {
        font-size: 14px;
    }
}

@media (max-width: 280px) {
    .products {
        grid-template-columns: repeat(1, 1fr); /* Một cột cho màn hình từ 480px trở xuống */
    }

    ul.products li img {
        width: 100px;
        height: 100px;
    }

    .btn-default {
        font-size: 12px;
    }

    ul.products li .product-info a.product-name {
        font-size: 12px;
    }

    ul.products li .product-info .product-price {
        font-size: 14px;
    }
}







/*Các trang dưới footer (đang test)
*/ #PageInfo {
    align-items: center; /* Căn giữa theo chiều dọc */
    height: auto; /* Chiếm toàn bộ chiều cao màn hình */
    padding: 0; /* Tạo khoảng cách xung quanh */
}

    #PageInfo h2 {
        padding: 50px 100px 0 100px;
        margin: 0px;
        font-weight: bolder;
    }

    #PageInfo p {
        padding: 0px 100px;
        font-size: 25px;
        line-height: 1.8;
    }

        #PageInfo p i {
            font-weight: bold;
        }

@media (max-width:1080px) {
    #PageInfo {
        padding: 100px 20px 20px 0px;
    }

        #PageInfo h2 {
            padding: 40px 50px 0px 50px;
        }

        #PageInfo p {
            padding: 0px 50px;
            line-height: 1.9;
        }
}

@media (max-width:640px) {
    #PageInfo h2 {
        padding: 40px 20px 0px 20px;
    }

    #PageInfo p {
        padding: 0px 20px;
    }
}








/*************************
*******Sidebar moblie CSS******
**************************/

/*menu sidebar (đang test)*/
/*sidebar menu*/
.sidebar {
    position: fixed;
    top: 0;
    left: -250px; /*Cho qua trái để ẩn khỏi màn hình, khi kích hoạt thì sẽ đi từ trái sang*/
    width: 250px;
    height: 500%;
    background-color: #f3f2ec;
    overflow-y: auto;
    transition: left 0.3s ease-in-out;
    z-index: 1000;
    padding-top: 10px;
    font-size: 20px;
    border-radius: 0 4px 0 4px;
}

    .sidebar h2 {
        list-style-type: none;
        padding: 20px;
        text-align: center;
        color: #252a2b;
        border-bottom: 1px solid #b08856;
    }

    .sidebar ul {
        list-style-type: none;
        padding: 0;
    }

        .sidebar ul li {
            padding: 15px;
            text-align: left;
        }

            .sidebar ul li a {
                color: #696763;
                text-decoration: none;
                display: block;
                padding: 10px;
            }

                .sidebar ul li a:hover {
                    background-color: #c0bfba;
                    border-radius: 12px;
                }
    /* Kích hoạt sidebar */
    .sidebar.active {
        left: 0;
        width: 350px;
    }

/* Đè lên khi sidebar được mở */
.sidebar-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: none;
    /*Hiệu ứng xóa phông, để cho đẹp chứ không ổn cho hiệu năng cho lắm...*/
    /*backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);*/ /*Đảm bảo hỗ trợ cho các trình duyệt Webkit*/
}
    /*Đè lên khi sidebar được kích hoạt*/
    .sidebar-overlay.active {
        display: block;
    }

/*Nút menu sidebar*/
.navbar-toggle {
    background: none;
    padding: 3px 5px 3px 5px;
    margin: 0;
    font-size: 16px;
    top: -0px;
    cursor: pointer;
    display: none;
    border-radius: 4px;
    transition: border-radius 0.25s ease-in-out; /* Thời gian chuyển đổi và hiệu ứng chuyển động */
}

    .navbar-toggle:hover {
        background-color: #f3f2ec;
        border-radius: 12px;
    }

    .navbar-toggle .icon-bar {
        width: 22px;
        height: 4px;
        background-color: #111;
        margin: 6px 0;
        display: block;
        border-radius: 12px;
    }

@media (max-width: 1300px) {
    .navbar-toggle {
        display: block;
    }
}








/*Các nút bên UserDetail.cshtml*/
.button-container {
    position: relative; /* Để đặt nút "Đăng Xuất" ở vị trí tuyệt đối */
}

.logout-button {
    position: absolute;
    bottom: 0;
    right: 0;
}

    .logout-button a:hover {
        /* ... các style khác ... */
    }

/* Responsive cho các nút */
@media (max-width: 768px) {
    .button-container a {
        display: block; /* Chuyển thành block để xuống dòng */
        width: 100%; /* Chiếm toàn bộ chiều rộng */
        margin-bottom: 10px; /* Khoảng cách giữa các nút */
        text-align: center; /* Căn giữa chữ */
    }

    .logout-button {
        position: relative; /* Đưa nút "Đăng Xuất" về vị trí bình thường */
        bottom: auto;
        right: auto;
    }
}