/* lg */ 
@media (max-width: 1300px) {
    .mainmenu {
        width: 100%;
    }

        .mainmenu ul li {
            padding-top: 0px;
        }

            .mainmenu ul li:not(:first-child) {
                display: none; /* Ẩn mọi đường link khác ngoại trừ link SHOP */
            }

            /*.mainmenu ul li:last-child{
			padding-bottom: 15px;
			}*/

            .mainmenu ul li a {
                color: #111;
            }

    .navbar-collapse.in {
        overflow: inherit;
    }

    .mainmenu ul li a.active {
        padding-left: 15px;
    }
	.navbar-toggle {
		display: block;
	}
	.map-container {
		bottom: -10px; /* Adjust aspect ratio if needed */
		left: 20px;
		max-width: 100px;
		max-height: 100px;
	}

	.responsive-map {
		max-width: 250px;
		max-height: 200px;
	}
}
@media (max-width: 1000px) {
	.map-container {
		bottom: -30px; /* Adjust aspect ratio if needed */
		left: 20px;
		max-width: 100px;
		max-height: 100px;
	}

	.responsive-map {
		max-width: 190px;
		max-height: 150px;
	}
}


/* md */
@media (min-width: 992px) and (max-width: 1199px) {
 
 
.usa{
	margin-right: 0;
} 

.shipping img{
	width: 100%;
}

.searchform input{
	width: 160px;
}

.product-information span span{
	width: 100%;
}

#similar-product .carousel-inner .item img{
	width: 65px;
}

#cart_items .cart_info .cart_description h4, 
#cart_items .cart_info .cart_description p{
	text-align: center;
} 

}



/* xs */
@media (max-width: 768px) {
	/*Nút giỏ hàng và người dùng góc trên bên trái*/
	.shop-menu ul li {
		margin-left: 5px; /* Giảm khoảng cách giữa các mục */
	}

		.shop-menu ul li a p {
			display: none; /* Ẩn phần văn bản */
		}

		.shop-menu ul li a img {
			width: 24px; /* Giảm kích thước của icon */
		}


	/*Thu nhỏ ô tìm kiếm lại trước khi vào trạng thái sidebar*/
	.search_box {
		max-width: 250px; /* Chiều rộng nhỏ hơn để vừa với không gian */
	}

		.search_box input[type="text"] {
			width: 180px; /* Đặt chiều rộng nhỏ hơn cho ô tìm kiếm */
			padding: 10px 30px 10px 10px; /* Điều chỉnh padding để cân đối */
		}

		.search_box button {
			left: 150px;
		}


	/* Hiển thị sidebar tìm kiếm khi màn hình nhỏ hơn 767px */
	.search_box {
		display: none; /* Ẩn ô tìm kiếm gốc */
	}

	.search-navbar-toggle {
		display: block; /* Hiển thị nút toggle */
	}

	.search-sidebar {
		display: block; /* Hiển thị sidebar tìm kiếm */
	}





	.footer-widget .container {
		flex-direction: column;
		align-items: center;
	}
	.single-widget h2 {
		font-size: 24px;
	}
	.single-widget ul li a {
		padding:10px;
		font-size: 24px;
	}
	.single-widget {
		text-align: center;
		padding:10px 0 20px 0;
		border-bottom: 1px solid #b08856;
	}
		.single-widget ul li a:hover {
			background: none;
			padding-bottom: 15px;
			font-size: 28px;
		}
	.map-container {
		display:none;
	}
}
@media (min-width: 768px) {
	.search_box {
		display: block; /* Hiển thị ô tìm kiếm gốc */
	}

	.search-navbar-toggle {
		display: none; /* Ẩn nút toggle */
	}

	.search-button {
		display: none;
	}
}

	/* XS Portrait */
	@media (max-width: 480px) {
		.sidebar h2 {
			list-style-type: none;
			padding: 20px;
			text-align: center;
			color: #252a2b;
			border-bottom: 1px solid #b08856;
			font-size: 22px;
		}

		.sidebar ul li {
			padding: 15px;
			text-align: left;
			border-bottom: 1px solid #b08856;
		}

			.sidebar ul li a {
				color: #696763;
				text-decoration: none;
				display: block;
				padding: 10px;
				font-size: 14px;
			}

		.sidebar.active {
			left: 0;
			width: 210px;
		}
	}